.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Mindesthöhe des Containers auf 100% der Bildschirmhöhe setzen */
}

.content {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 35px;
  max-width: 100%;
}

.mat-column-demo-position {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

.mat-column-demo-name {
  padding-left: 16px;
  font-size: 20px;
}

.mat-column-demo-weight {
  font-style: italic;
}

.mat-column-demo-symbol {
  width: 32px;
  text-align: center;
  font-weight: bold;
}

td {
  img {
    max-width: 50px;
    border-radius: 5px;
  }
}
