<div class="enter-passwort-position">
    <div class="enter-passwort">
        <mat-card class="enter-passwort-card">
            <mat-card-header>
                <mat-card-subtitle translate>2. STEP</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <h2 translate>Enter password</h2>
                <h3 translate>Log in to your account with your e-mail address: <i class="email-change">{{email}}</i>
                    <span (click)="changeMail()" translate>(edit)</span>
                </h3>
            </mat-card-content>
            <form class="enter-passwort-form" (ngSubmit)="login()">
                <mat-form-field>
                    <mat-label translate>Enter your password</mat-label>
                    <input [formControl]="passwordForm" matInput [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <p><i translate>(Note upper and lower case)</i></p>
                <button class="button-login" mat-fab extended color="primary">
                    <p translate>Log in</p>
                </button>
            </form>
            <button style="margin-left: 16px;margin-right: 16px;" (click)="goBack()" mat-fab extended color="">
                <p>back</p>
            </button>
            <span class="reset-passwort" (click)="resetPasswort()" translate>Forgotten your password? Reset your
                password here</span>
        </mat-card>

    </div>
    <app-footer></app-footer>
</div>