<div class="reset-passwort-position">
    <div class="reset-passwort">
        <mat-card class="reset-passwort-card">
            <mat-card-header>
                <mat-card-subtitle>
                    <p translate>Reset password</p>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <h2 translate>Enter your e-mail address to continue</h2>
                <h3 translate>We will send you an e-mail with further instructions. Please also check your spam folder
                    in your e-mail inbox.
                </h3>
            </mat-card-content>
            <form class="reset-passwort-form" (ngSubmit)="submitForm()">
                <mat-form-field class="reset-passwort-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput [formControl]="emailFormControl">
                    @if (emailFormControl.hasError('pattern') && !emailFormControl.hasError('required')) {
                    <mat-error> <span style="color: red;" translate>Please enter a valid email
                            address</span></mat-error>
                    }
                    @if (emailFormControl.hasError('required')) {
                    <mat-error>
                        <span style="color: red;" translate>Email is </span><strong translate>required</strong>
                    </mat-error>
                    }
                </mat-form-field>
                <mat-error>{{error_message}}</mat-error>
                <button mat-fab extended color="primary">
                    <p translate>Reset password</p>
                </button>
            </form>
            <button style="margin: 16px;" mat-fab extended color="" (click)="goBack()">
                <p translate>back</p>
            </button>
        </mat-card>
    </div>
    <app-footer></app-footer>
</div>