<div class="facts">

    <div class="facts-box">
        <mat-icon fontIcon="play_circle"></mat-icon>
        <h2 translate>Unlimited entertainment</h2>
        <h3 translate>Discover thousands of hours of entertainment with TV series, films and originals.</h3>
    </div>
    <div class="facts-box">
        <mat-icon fontIcon="cast"></mat-icon>
        <h2 translate>Available on your favourite devices</h2>
        <h3 translate>Stream with compatible devices on up to four screens simultaneously.</h3>
    </div>
    <div class="facts-box">
        <mat-icon fontIcon="family_restroom"></mat-icon>
        <h2 translate>Intuitive child safety lock</h2>
        <h3 translate>Family-friendly content thanks to easy-to-use parental controls.</h3>
    </div>


</div>