<div class="facts">

    <div class="facts-box">
        <mat-icon fontIcon="play_circle"></mat-icon>
        <h1>Unbegrenzte Unterhaltung</h1>
        <h3>Entdecke Tausende Stunden Unterhaltung mit TV-Serien, Filmen und Originals.</h3>
    </div>
    <div class="facts-box">
        <mat-icon fontIcon="cast"></mat-icon>
        <h1>Verfügbar auf deinen Lieblingsgeräten</h1>
        <h3>Streame mit kompatiblen Endgeräten auf bis zu vier Bildschirmen gleichzeitig.</h3>
    </div>
    <div class="facts-box">
        <mat-icon fontIcon="family_restroom"></mat-icon>
        <h1>Intuitive Kindersicherung</h1>
        <h3>Familientaugliche Inhalte dank leicht zu bedienender Kindersicherung.</h3>
    </div>


</div>