.content {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  min-width: 50%;
  margin-top: 25px;
  color: white;
  @media (max-width: 600px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.full-width {
  width: 100%;
}

textarea {
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #4a4a4a;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c2185b;
    border-radius: 10px;
    border: 3px solid transparent;
  }
}
.date {
  display: flex;
  align-items: center;
  button {
    margin-left: 25px;
  }
  p {
    margin-left: 25px;
  }
  .full-width {
    margin-right: 30px;
  }
  @media (max-width: 600px) {
    flex-direction: column;
    mat-form-field {
      width: 100%;
    }
    .full-width {
      margin-right: 0px;
    }
  }
}
.button-row {
  display: flex;
  justify-content: end;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  mat-slide-toggle {
    margin-right: 15px;
  }
}
.section-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  mat-form-field {
    width: 50%;
  }
  mat-slide-toggle {
    justify-content: center;
  }
  @media (max-width: 600px) {
    mat-form-field {
      width: 100%;
    }
  }
}
.upload-h2 {
  margin-top: 10px;
  margin-bottom: 0;
}

.upload-h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
mat-card {
  margin-bottom: 22px;
}

.upload-button {
  button {
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.dn {
  display: none;
}

.file-upload {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  p {
    margin: 0;
    margin-left: 20px !important;
  }
  button {
    p {
      margin: 0 !important;
    }
  }
}

.button_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress {
  height: auto;
}

.info-datei {
  display: flex;
  justify-content: left;
  align-items: center;
  i {
    margin-left: 25px;
    font-size: 12px;
  }
  h3 {
    margin: 0;
  }
}

.error-files {
  color: red;
}
