<app-header></app-header>

<div class="content">
    <form onsubmit="submitUpload()">
        <h2>Upload</h2>
        <mat-form-field class="full-width">
            <mat-label>Film Name</mat-label>
            <input matInput [(ngModel)]="movie_name" name="name">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Beschreibung Kurz</mat-label>
            <input matInput [(ngModel)]="description_short" name="description_short">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Beschreibung lang</mat-label>
            <textarea matInput [(ngModel)]="description" name="description"></textarea>
        </mat-form-field>
        <div class="date">
            <mat-form-field class="full-width">
                <mat-label>Author</mat-label>
                <input matInput [(ngModel)]="author" name="author">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Veröffentlichung</mat-label>
                <input matInput [matDatepicker]="date_from">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <mat-card class="result">
            <mat-card-content>
                <h3>Optionen</h3>
                <section class="section-option">
                    <mat-form-field class="full-width">
                        <mat-label>Video länge (min.)</mat-label>
                        <input type="time" matInput [(ngModel)]="video_length" name="video_length">
                    </mat-form-field>
                </section>
            </mat-card-content>
            <mat-card-content>
                <h3 class="upload-h3">Film Typ</h3>
                <section class="example-section">
                    <mat-radio-group>
                        <mat-radio-button class="example-margin" [(ngModel)]="movie_check" name="movie_check">Spielfilm
                            / Kurzfilm
                        </mat-radio-button>
                        <mat-radio-button class="example-margin" [(ngModel)]="short_movie_check"
                            name="short_movie_check">Serie
                        </mat-radio-button>
                    </mat-radio-group>
                </section>
            </mat-card-content>
            <mat-card-content>
                <h3 class="upload-h3">Genre</h3>
                <section class="example-section">
                    <mat-radio-group>
                        <mat-radio-button class="example-margin" [(ngModel)]="nature_check" name="nature_check">Natur
                        </mat-radio-button>
                        <mat-radio-button class="example-margin" [(ngModel)]="funny_check" name="funny_check">Lustiges
                        </mat-radio-button>
                        <mat-radio-button class="example-margin" [(ngModel)]="knowledge_check"
                            name="knowledge_check">Wissen
                        </mat-radio-button>
                        <mat-radio-button class="example-margin" [(ngModel)]="other_check" name="other_check">Sonstiges
                        </mat-radio-button>
                    </mat-radio-group>
                </section>
            </mat-card-content>
            <mat-card-content>
                <h3 class="upload-h3">Freigabe</h3>
                <mat-chip-listbox aria-label="Fish selection">
                    <mat-chip-option [selected]="selectedAge === 0" (selectionChange)="changeSelected(0)">Keine
                        Altersfreigabe</mat-chip-option>
                    <mat-chip-option [selected]="selectedAge === 6" (selectionChange)="changeSelected(6)">Altersfreigabe
                        ab 6</mat-chip-option>
                    <mat-chip-option [selected]="selectedAge === 12"
                        (selectionChange)="changeSelected(12)">Altersfreigabe ab 12</mat-chip-option>
                    <mat-chip-option [selected]="selectedAge === 16"
                        (selectionChange)="changeSelected(16)">Altersfreigabe ab 18</mat-chip-option>
                </mat-chip-listbox>
            </mat-card-content></mat-card>
        <mat-card class="result">

            <mat-card-content class="upload-button">
                <h3 class="upload-h3">Video / Dateien</h3>
                <input style="display: none;" type="file" class="file-input" [accept]="requiredFileType"
                    (change)="onFileSelected($event)" #fileUpload>
                <div class="file-upload">
                    <button mat-raised-button color="primary" class="upload-btn" (click)="fileUpload.click()">Cover
                        <mat-icon>attach_file</mat-icon>
                    </button>
                    <p>{{fileName || "No file uploaded yet."}}</p>
                </div>
                <div class="progress dn" id="thumbnail-progress">
                    <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress"
                        *ngIf="uploadProgress">
                    </mat-progress-bar>
                    <mat-icon class="cancel-upload" (click)="cancelUpload()"
                        *ngIf="uploadProgress">delete_forever</mat-icon>
                </div>
            </mat-card-content>

            <mat-card-content class="upload-button">
                <input style="display: none;" type="file" class="file-input" [accept]="requiredFileType"
                    (change)="onFileSelected($event)" #fileUpload>
                <div class="file-upload">
                    <button mat-raised-button color="primary" class="upload-btn" (click)="fileUpload.click()">Big
                        picture
                        <mat-icon>attach_file</mat-icon>
                    </button>
                    <p>{{fileName || "No file uploaded yet."}}</p>
                </div>
                <div class="progress dn" id="video-progress">
                    <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress"
                        *ngIf="uploadProgress">
                    </mat-progress-bar>
                    <mat-icon class="cancel-upload" (click)="cancelUpload()"
                        *ngIf="uploadProgress">delete_forever</mat-icon>
                </div>
            </mat-card-content>

            <mat-card-content class="upload-button">
                <input style="display: none;" type="file" class="file-input" [accept]="requiredFileType"
                    (change)="onFileSelected($event)" #fileUpload>
                <div class="file-upload">
                    <button mat-raised-button color="primary" class="upload-btn" (click)="fileUpload.click()">Video
                        <mat-icon>attach_file</mat-icon>
                    </button>
                    <p>{{fileName || "No file uploaded yet."}}</p>
                </div>
                <div class="progress dn" id="video-progress">
                    <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress"
                        *ngIf="uploadProgress">
                    </mat-progress-bar>
                    <mat-icon class="cancel-upload" (click)="cancelUpload()"
                        *ngIf="uploadProgress">delete_forever</mat-icon>
                </div>
            </mat-card-content>
        </mat-card>
        <div class="button-row">
            <mat-slide-toggle [checked]="upload_visible_check" name="upload_visible_check">
                Upload für alle sichtbar?
            </mat-slide-toggle>
            <button mat-fab extended color="primary">
                <mat-icon>upload</mat-icon>
                Veröffentlichen
            </button>
        </div>
    </form>
</div>

<app-footer></app-footer>