<app-header></app-header>
<div class="wrapper">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>
                <p translate>Search movie</p>
            </mat-label>
            <input matInput placeholder="Title, Charakter oder Genre suchen" [(ngModel)]="key" name="search"
                (input)="filterData()">
        </mat-form-field>
    </form>
    <div *ngIf="filteredData.length > 0; else noResults" class="content">
        <div class="content-boxing ">
            <div class="content-draggable" id="content-box">
                <div class="content-draggable" id="content-box">
                    <div class="progress-div" *ngIf="loading"><mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    </div>
                    <div style="display: contents;" *ngIf="!loading">
                        <div *ngFor="let single of filteredData" class="content-box">
                            <a href="/single-view/?select={{single.random_key}}"><img src="{{single.cover}}"
                                    alt="{{single.movie_name}}">
                                <p>{{single.movie_name}}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 *ngIf="key.length == 0" class="noFound" translate>Please enter a search term.</h2>
    <ng-template #noResults>
        <h2 *ngIf="key.length >= 1" class="noFound" translate>Nothing found.</h2>
    </ng-template>
    <app-footer></app-footer>
</div>