<div class="landing_background"></div>

<div class="center_landing">
  <button mat-fab extended color="primary" class="landing-login" (click)="loginUser()">
    <span translate>LOGIN</span><mat-icon>login</mat-icon>
  </button>
  <h2 style="font-size: 38px" translate>
    Enjoy brand new originals, blockbusters, addictive series and much more more in streaming
  </h2>
  <h3 translate>
    To fully explore the variety of Videoflix or to start again, please enter your e-mail address.
  </h3>
  <form class="landing-form" if="email.invalid" (ngSubmit)="submitForm()" method="GET">
    <mat-form-field>
      <mat-label translate>Enter your email</mat-label>
      <input matInput placeholder="yourMail@example.com" [formControl]="email" required>
      @if (email.invalid ) {
      <mat-error>{{getErrorMessage()}}</mat-error>
      }
      <mat-hint *ngIf="check_email" align="start"><span translate>Your Email is already registered. Please use
          <a href="/login">login</a></span> </mat-hint>
    </mat-form-field>
    <button mat-raised-button color="primary">
      <p translate>Register now</p>
    </button>
  </form>


  <div class="landing-buttons">
    <button (click)="loginGuest()" mat-fab extended color="accent" class="landing-login-guest">
      <p translate>Guest Login</p>
    </button>
    <button (click)="loginUser()" mat-fab extended color="primary" class="landing-login-smart">
      <span translate>LOGIN</span><mat-icon>login</mat-icon>
    </button>
  </div>
  <h2 translate>
    Seize this great opportunity today and secure our exclusive free offer now. exclusive free offer now.
  </h2>
</div>
<a href="#new-movies"><mat-icon class="landing-arrow" fontIcon="keyboard_arrow_down"></mat-icon></a>