<div class="faq">
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Was bietet dir VideoFlix?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>VideoFlix erscheint als schlichte Nachahmung einer Streamingplattform.</p>
        </mat-expansion-panel>
        <br>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Was kann ich auf Videoflix anschauen?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Entdecke auf VideoFlix Tausende von Filmen und Serien von erstklassigen Geschichtenerzählern weltweit,
                mit monatlich neuen Inhalten, um sicherzustellen, dass immer etwas Spannendes auf dich wartet.</p>
            <li>
                Tauche ein in die neuesten Live-Action- und Animations-Blockbuster von VideoFlix, darunter
                beeindruckende Werke wie "Sternenzauber". Erlebe emotionale Geschichten für Groß und Klein von
                VideoFlix-Pixar, einschließlich des neuen Blockbusters "Die Schatztruhe der Farben".
            </li>
            <br>
            <li>
                Erweitere dein Seherlebnis mit den ständig wachsenden Geschichten des Marvel Cinematic Universe. Genieße
                exklusive Marvel Studios Original Serien wie "Zeitensprung", "Himmelsfeger", "Dimensionsdämmerung" und
                "Pfeilschatten" wie nie zuvor.
            </li>
            <br>
            <li>
                Reise durch die epische Star Quest Saga oder erlebe die weltweit erste Live-Action Star Quest Serie,
                "Die Sternenwanderer", exklusiv auf VideoFlix.
            </li>
            <br>
            <li>
                Bewundere die atemberaubende Schönheit unseres Planeten mit furchtlosen National Geographic Entdeckern
                und einer Fülle fantastischer Dokumentationen, darunter "Die Geheimnisse des Dschungelreichs" und "Reise
                durch das Zeitlabyrinth".
            </li>
            <br>
            <li>In der Star-Kategorie von VideoFlix findest du alles für einen Serienmarathon, darunter "Phantomzone",
                ein mitreißendes Drama über Überleben und Freundschaft, oder die neueste Staffel von "Krankenhaus der
                Zukunft". Tauche ein in ein Universum voller fesselnder Unterhaltung!</li>
        </mat-expansion-panel>
        <br>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Wie viel kostet VideoFlix?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>VideoFlix dient ausschließlich als Demonstrationsplattform, und aus diesem Grund entstehen hier keinerlei
                Kosten. Erfahre die Faszination unseres Angebots und erkunde die Vielfalt an hochwertigen Inhalten, ohne
                dabei finanzielle Verpflichtungen einzugehen.</p>
        </mat-expansion-panel>
        <br>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Welche Endgeräte werden unterstützt?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p> VideoFlix unterstützt eine breite Palette von Endgeräten, um dir maximale Flexibilität zu bieten. Du
                kannst problemlos auf unsere Inhalte zugreifen, sei es auf deinem Smartphone, Desktop-Computer oder
                anderen kompatiblen Geräten. Egal, ob du unterwegs bist oder lieber auf einem großen Bildschirm
                anschaust, VideoFlix passt sich deinen Bedürfnissen an und bietet ein nahtloses Streaming-Erlebnis auf
                Smartphones und Desktops gleichermaßen.</p>
        </mat-expansion-panel>
        <br>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Wie kann ich meinen Account wieder löschen?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p> Um diese Aktion durchzuführen, bitten wir dich zunächst um deine Anmeldung. Nach erfolgreichem Login
                kannst du im Profilbereich bequem und einfach deinen Account löschen.</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>