.border-dialog {
  padding: 15px;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mat-mdc-dialog-content::-webkit-scrollbar {
  width: 12px;
}

.mat-mdc-dialog-content::-webkit-scrollbar-track {
  background: #424242;
}

.mat-mdc-dialog-content::-webkit-scrollbar-thumb {
  background-color: #c2185b;
  border-radius: 10px;
  border: 3px solid transparent;
}

mat-form-field {
  width: 100%;
}
.profil-h3 {
  text-align: left;
  width: 100%;
}
mat-chip-listbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
mat-card-content {
  width: 100%;
}
mat-slide-toggle {
  margin-bottom: 10px;
}
.profil-slider {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}
h2 {
  margin-top: 20px;
  padding-left: 0;
}

.file-upload {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  p {
    margin: 20;
  }
  button {
    margin-right: 20px;
    p {
      margin: 0 !important;
    }
  }
}

.headline-profil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  img {
    cursor: pointer;
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 25px;
    margin-top: 25px;
  }
}

.profil-form {
  overflow: hidden;
}

mat-dialog-content {
  padding: 0;
  margin: 0;
  overflow: hidden !important;
}

.konto-account {
  padding: 25px;
  padding-bottom: 0;
  width: auto;
  h2 {
    margin: 0;
  }
  h3 {
    width: 100%;
    text-align: left;
  }
  i {
    font-size: 12px;
    color: #c2185b;
  }
}
.mat-dialog-content {
  padding: 0 !important;
}

.mat-dialog-content-profil {
  padding-bottom: 0 !important;
}

.upload-button {
  margin-top: 20px;
}
