<div class="konto-account">
    <h2 mat-dialog-title translate>Account</h2>
    <div mat-dialog-content class="mat-dialog-content">
        <p translate>Edit account information</p>
        <div class="border-dialog">
            <form if="email.invalid" (ngSubmit)="submitFormChangeEmail()">
                <h3 translate>Change E-mail</h3>
                <mat-form-field>
                    <mat-label>
                        <span translate>Enter your email</span>
                    </mat-label>
                    <input matInput [formControl]="email" required>
                    @if (email.invalid) {
                    <mat-error>{{getErrorMessage()}}</mat-error>
                    }
                </mat-form-field>
                <i>{{message_mail}}</i>
                <button [disabled]="guest" mat-button cdkFocusInitial>
                    <p translate>Change</p>
                </button>
            </form>


            <form>
                <h3 style="margin-top: 15px;" translate>Change password</h3>
                <mat-form-field>
                    <mat-label>
                        <span translate>Current password</span>
                    </mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="current_password"
                        name="current_password">
                    <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>
                        <span translate>Enter new password</span>
                    </mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" [formControl]="new_password">
                    <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <i>{{message_password}}</i>
                <button [disabled]="guest" mat-button cdkFocusInitial (click)="submitFormChangePassword()">
                    <p translate>Change</p>
                </button>
            </form>
        </div>
        <div mat-dialog-actions align="center">
            <button mat-raised-button cdkFocusInitial color="primary" mat-dialog-close>
                <p translate>Close</p>
            </button>
        </div>
    </div>

</div>