<div class="profil-account">
    <h2 mat-dialog-title>Profil</h2>
    <div mat-dialog-content>
        Das ist dein Profil. Ändere hier die Einstellungen.
    </div>
    <div mat-dialog-content>
        <div class="border-dialog">
            <form class="profil-form">
                <h3 class="profil-h3">Profil Name</h3>
                <mat-form-field class="example-full-width">
                    <mat-label>Profil Name</mat-label>
                    <input matInput placeholder="Gebe dein Profilnamen ein" value="ttech">
                </mat-form-field>
                <h3 class="profil-h3">Optionen</h3>
                <mat-card-content>
                    <section class="profil-slider">
                        <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked"
                            [disabled]="disabled">
                            Automatische Wiedergabe
                        </mat-slide-toggle>
                    </section>
                </mat-card-content>
                <h3 class="profil-h3">Sprache</h3>
                <mat-form-field>
                    <mat-label>Sprache</mat-label>
                    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
                        [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        @for (option of options; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>
                <h3 class="profil-h3">Freigabe</h3>
                <mat-chip-listbox aria-label="Fish selection">
                    <mat-chip-option>Keine Altersfreigabe</mat-chip-option>
                    <mat-chip-option>Altersfreigabe ab 6</mat-chip-option>
                    <mat-chip-option>Altersfreigabe ab 12</mat-chip-option>
                    <mat-chip-option>Altersfreigabe ab 18</mat-chip-option>
                </mat-chip-listbox>
            </form>
        </div>
    </div>
    <div mat-dialog-actions align="center">
        <button mat-button mat-dialog-close>Schließen</button>
        <button mat-raised-button color="primary">Speichern</button>
    </div>
</div>