<div class="profil-account">
    <div class="headline-profil">
        <div mat-dialog-content>
            <h2 mat-dialog-title translate>Profil</h2>
            <p translate>This is your profile. Change the settings here.</p>
        </div>
        <img (click)="fileUpload.click()" src="{{avatar_path}}" alt="profil_img">
    </div>

    <div mat-dialog-content class="mat-dialog-content-profil">
        <div class="border-dialog">
            <form class="profil-form">
                <h3 class="profil-h3" translate>Profil Name</h3>
                <mat-form-field class="example-full-width">
                    <mat-label>
                        <p translate>Name</p>
                    </mat-label>
                    <input matInput [disabled]="guest" placeholder="Gebe dein Profilnamen ein" value="{{name}}"
                        [(ngModel)]="name" name="name">
                </mat-form-field>
                <h3 class="profil-h3" translate>Optionen</h3>
                <mat-card-content>
                    <section class="profil-slider">
                        <mat-slide-toggle class="example-margin" [color]="color" [(ngModel)]="isChecked"
                            name="play_check">
                            <p translate>Autoplay</p>
                        </mat-slide-toggle>
                    </section>
                </mat-card-content>
                <h3 class="profil-h3" translate>Language</h3>
                <mat-form-field>
                    <mat-label>
                        <p translate>Language</p>
                    </mat-label>
                    <mat-select [(value)]="selected_language">
                        <mat-option value="de">
                            <p translate>German</p>
                        </mat-option>
                        <mat-option value="en">
                            <p translate>English</p>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <h3 class="profil-h3">Age rating</h3>
                <mat-chip-listbox aria-label="Fish selection">
                    <mat-chip-option [selected]="selectedAge === 0" (selectionChange)="changeSelected(0)">
                        <p translate>None Age rating</p>
                    </mat-chip-option>
                    <mat-chip-option [selected]="selectedAge === 6" (selectionChange)="changeSelected(6)">
                        <p translate>Age rating from 6</p>
                    </mat-chip-option>
                    <mat-chip-option [selected]="selectedAge === 12" (selectionChange)="changeSelected(12)">
                        <p translate>Age rating from 12</p>
                    </mat-chip-option>
                    <mat-chip-option [selected]="selectedAge === 16" (selectionChange)="changeSelected(16)">
                        <p translate>Age rating from 16</p>
                    </mat-chip-option>
                </mat-chip-listbox>
                <mat-card-content class="upload-button">
                    <h3 class="profil-h3" translate>Profile image</h3>
                    <input style="display: none;" type="file" class="file-input" [accept]="requiredFileType"
                        (change)="onFileSelected($event)" #fileUpload>
                    <div class="file-upload">
                        <button mat-raised-button color="primary" class="upload-btn" (click)="fileUpload.click()">
                            <p translate>Image</p>
                            <mat-icon>attach_file</mat-icon>
                        </button>
                        <p *ngIf="!fileName" translate>No file uploaded yet.</p>
                        <p *ngIf="fileName">{{fileName}}</p>
                    </div>
                    <i>{{avatar_info}}</i>
                </mat-card-content>

            </form>

        </div>
        <div mat-dialog-actions align="center">
            <button type="button" mat-button mat-dialog-close>
                <p translate>Close</p>
            </button>
            <button mat-raised-button color="primary" (click)="saveProfil()" mat-dialog-close cdkFocusInitial>
                <span translate>Save</span>
            </button>
        </div>
    </div>

</div>