<app-header></app-header>
<div class="content">
    <form [formGroup]="uploadForm" (submit)="onFormSubmit($event)">
        <h2>Edit Video</h2>
        <mat-form-field class="full-width">
            <mat-label>
                <span translate>Movie Name</span>
            </mat-label>
            <input matInput type="text" [formControl]="uploadForm.controls.movie_name">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>
                <span translate>Description Short</span>
            </mat-label>
            <input matInput [formControl]="uploadForm.controls.description_short" name="description_short" required>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>
                <span translate>Description</span>
            </mat-label>
            <textarea matInput [formControl]="uploadForm.controls.description" name="description"></textarea>
        </mat-form-field>
        <div class="date">
            <mat-form-field class="full-width">
                <mat-label>
                    <span translate>Author</span>
                </mat-label>
                <input matInput [formControl]="uploadForm.controls.author" name="author" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>
                    <span translate>Creation date</span>
                </mat-label>
                <input matInput [matDatepicker]="picker" [formControl]="uploadForm.controls.date_from" name="date_from"
                    required>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <mat-card class="result">
            <mat-card-content>
                <h3 translate>Options</h3>
                <section class="section-option">
                    <mat-form-field class="full-width">
                        <mat-label>
                            <p translate>Video length (min.)</p>
                        </mat-label>
                        <input type="time" matInput [formControl]="uploadForm.controls.video_length"
                            name="video_length">
                    </mat-form-field>
                </section>
            </mat-card-content>
            <mat-card-content>
                <h3 class="upload-h3" translate>Movie type</h3>
                <section class="example-section">
                    <mat-radio-group [formControl]="uploadForm.controls.movie_check" name="movie_check" required>
                        <mat-radio-button value="movie">
                            <p>Movie / Short movie</p>
                        </mat-radio-button>
                        <mat-radio-button value="serie">
                            <p translate>Series</p>
                        </mat-radio-button>
                    </mat-radio-group>
                </section>
            </mat-card-content>
            <mat-card-content>
                <h3 class="upload-h3" translate>Genre</h3>
                <section class="example-section">
                    <mat-radio-group [formControl]="uploadForm.controls.genre" name="genre" required>
                        <mat-radio-button value="nature">
                            <p translate>Nature</p>
                        </mat-radio-button>
                        <mat-radio-button value="funny">
                            <p translate>Funny</p>
                        </mat-radio-button>
                        <mat-radio-button value="knowledge">
                            <p translate>Knowledge</p>
                        </mat-radio-button>
                        <mat-radio-button value="other">
                            <p translate>Other</p>
                        </mat-radio-button>
                    </mat-radio-group>
                </section>
            </mat-card-content>
            <mat-card-content>
                <h3 class="upload-h3" translate>Age rating</h3>
                <mat-chip-listbox aria-label="Fish selection" [formControl]="uploadForm.controls.selectedAge"
                    name="selectedAge" value="uploadForm.controls.selectedAge.value">
                    <mat-chip-option value='0'>
                        <p translate>No age rating</p>
                    </mat-chip-option>
                    <mat-chip-option value='6'>
                        <p translate>Age rating from 6</p>
                    </mat-chip-option>
                    <mat-chip-option value='12'>
                        <p translate>Age rating from 12</p>
                    </mat-chip-option>
                    <mat-chip-option value='16'>
                        <p translate>Age rating from 16</p>
                    </mat-chip-option>
                </mat-chip-listbox>
            </mat-card-content>
        </mat-card>

        <div class="button-row">
            <mat-slide-toggle [formControl]="uploadForm.controls.upload_visible_check" name="upload_visible_check"
                [checked]="false">
                <p translate>Upload visible to all?</p>
            </mat-slide-toggle>
            <button mat-fab extended color="primary" type="submit">
                <mat-icon>save</mat-icon>
                <p translate>Save change</p>
            </button>
        </div>
    </form>
</div>

<app-footer></app-footer>