<app-header></app-header>
<div class="content">
    <form [formGroup]="uploadForm" (submit)="onFormSubmit($event)">
        <h2>Edit Video</h2>
        <mat-form-field class="full-width">
            <mat-label>Film Name</mat-label>
            <input matInput type="text" [formControl]="uploadForm.controls.movie_name">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Beschreibung Kurz</mat-label>
            <input matInput [formControl]="uploadForm.controls.description_short" name="description_short" required>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Beschreibung lang</mat-label>
            <textarea matInput [formControl]="uploadForm.controls.description" name="description"></textarea>
        </mat-form-field>
        <div class="date">
            <mat-form-field class="full-width">
                <mat-label>Author</mat-label>
                <input matInput [formControl]="uploadForm.controls.author" name="author" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" [formControl]="uploadForm.controls.date_from" name="date_from"
                    required>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <mat-card class="result">
            <mat-card-content>
                <h3>Optionen</h3>
                <section class="section-option">
                    <mat-form-field class="full-width">
                        <mat-label>Video länge (min.)</mat-label>
                        <input type="time" matInput [formControl]="uploadForm.controls.video_length"
                            name="video_length">
                    </mat-form-field>
                </section>
            </mat-card-content>
            <mat-card-content>
                <h3 class="upload-h3">Film Typ</h3>
                <section class="example-section">
                    <mat-radio-group [formControl]="uploadForm.controls.movie_check" name="movie_check" required>
                        <mat-radio-button value="movie">Spielfilm
                            / Kurzfilm
                        </mat-radio-button>
                        <mat-radio-button value="serie">Serie
                        </mat-radio-button>
                    </mat-radio-group>
                </section>
            </mat-card-content>
            <mat-card-content>
                <h3 class="upload-h3">Genre</h3>
                <section class="example-section">
                    <mat-radio-group [formControl]="uploadForm.controls.genre" name="genre" required>
                        <mat-radio-button value="nature">Natur
                        </mat-radio-button>
                        <mat-radio-button value="funny">Lustiges
                        </mat-radio-button>
                        <mat-radio-button value="knowledge">Wissen
                        </mat-radio-button>
                        <mat-radio-button value="other">Sonstiges
                        </mat-radio-button>
                    </mat-radio-group>
                </section>
            </mat-card-content>
            <mat-card-content>
                <h3 class="upload-h3">Freigabe</h3>
                <mat-chip-listbox aria-label="Fish selection" [formControl]="uploadForm.controls.selectedAge"
                    name="selectedAge" value="uploadForm.controls.selectedAge.value">
                    <mat-chip-option value='0'>KeineAltersfreigabe</mat-chip-option>
                    <mat-chip-option value='6'>Altersfreigabeab 6</mat-chip-option>
                    <mat-chip-option value='12'>Altersfreigabe ab 12</mat-chip-option>
                    <mat-chip-option value='16'>Altersfreigabe ab 16</mat-chip-option>
                </mat-chip-listbox>
            </mat-card-content>
        </mat-card>

        <div class="button-row">
            <mat-slide-toggle [formControl]="uploadForm.controls.upload_visible_check" name="upload_visible_check"
                [checked]="false">
                Upload für alle sichtbar?
            </mat-slide-toggle>
            <button mat-fab extended color="primary" type="submit">
                <mat-icon>save</mat-icon>
                Änderung Speichernn
            </button>
        </div>
    </form>
</div>

<app-footer></app-footer>