.content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 7%;
  margin-top: 35px;
  max-width: 100%;

  p {
    font-size: calc(18px + 1vw) !important;
    margin-left: 10px;
  }
  @media (max-width: 600px) {
    margin-left: 0%;
    p {
      margin-left: 15px;
    }
  }
}

.category-link {
  width: fit-content;
  text-decoration: none;
  transition: all 0.2s ease;
  &:hover {
    scale: 1.2;
    transition: all 0.2s ease;
  }
  @media (max-width: 600px) {
    margin-left: 15px !important;
  }
}

.content-boxing {
  padding: 0;
  margin-left: 30px;
  overflow-x: hidden;
  @media (max-width: 600px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.content-box {
  margin: 10px;
  margin-right: 25px;
  display: flex;
  justify-content: start;
  max-width: 200px;
  min-width: 200px;
  border-radius: 10px;
  aspect-ratio: 16 / 9;
  box-shadow: 0px 6px 10px 5px #000000;

  a {
    text-decoration: none;
    color: white;
    z-index: 10;
  }
  p {
    margin: 0;
    padding: 10px;
    position: relative;
    bottom: 50px;
    transform: rotate(-10deg);
    pointer-events: none;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black,
      -1px -1px 1px black;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  img {
    transition: all 0.2s ease-out;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    height: -webkit-fill-available;
    background-color: #333333;

    &:hover {
      border: 5px solid rgba(255, 255, 255, 0.5);
      cursor: pointer;
      scale: 1.1;
      transition: all 0.2s ease-in;
      box-shadow: 0px 3px 5px 5px #000000;
    }
  }
}

.content-draggable {
  display: flex;
  width: 100%;
  padding: 15px;
  padding-left: 0;
  overflow-x: auto;
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #333333;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c2185b;
    border-radius: 10px;
    border: 3px solid transparent;
  }
}
