<div class="completely-position">
    <div class="completely">
        <mat-card class="completely-card">
            <mat-card-header>
                <mat-card-subtitle>3. SCHRITT</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <h1>Bestätige deine E-Mail</h1>
                <h3>Bitte prüfe dein E-Mail Postfach und bestätige den darinenhaltenen Link.
                </h3>
            </mat-card-content>
            <a href="/"><button mat-fab extended color="primary">
                    Zurück zur Startseite
                </button></a>
        </mat-card>
    </div>
    <app-footer></app-footer>
</div>