.completely-position {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.completely {
  display: flex;
  justify-content: center;
  padding: 25px;
  max-width: 100%;
}

.completely-card {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;

  max-width: 500px;
  border-radius: 35px;
  padding: 25px;
  button {
    margin-top: 50px;
    width: 100%;
  }
}

.completely-full-width {
  margin-top: 50px;
  width: 100%;
}

h1 {
  margin-top: 15px;
}

app-footer {
  margin-top: auto;
}
