<div class="completely-position">
    <div class="completely">
        <mat-card class="completely-card">
            <mat-card-header>
                <mat-card-subtitle>{{set_headline}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <h2>{{set_header}}</h2>
                <h3> {{set_text}} </h3>
            </mat-card-content>
            <a href="/"><button mat-fab extended color="primary">
                    <p translate>Back to the home</p>
                </button></a>
        </mat-card>
    </div>
    <app-footer></app-footer>
</div>