<div class="register-position">
    <div class="register">
        <mat-card class="register-card">
            <mat-card-content>
                <h2 translate>Change password</h2>
                <h3 translate>Enter your new password
                </h3>
            </mat-card-content>
            <form class="register-form" (ngSubmit)="submitForm()">
                <mat-form-field>
                    <mat-label translate>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" required [formControl]="password1">
                    @if (password1.invalid) {<mat-error>{{getErrorMessagepassword1()}}</mat-error>}
                    @if (password1.valid) { <mat-icon matSuffix>check</mat-icon>}
                    <mat-hint>{{password_incorrect}}</mat-hint>
                </mat-form-field>
                <mat-form-field>
                    <mat-label translate>Enter your password again</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" required [formControl]="password2">
                    @if (password2.invalid) {<mat-error>{{getErrorMessagepassword2()}}</mat-error>}
                    @if (password2.valid) { <mat-icon matSuffix>check</mat-icon>}
                    <mat-hint>{{password_incorrect}}</mat-hint>
                </mat-form-field>
                <p translate>Use at least eight characters (case sensitive) with at least one number and one special
                    character. one special character.</p>
                <button class="next-button" mat-fab extended color="primary">
                    <p translate>Save</p>
                </button>
                <button class="next-button" mat-fab extended color="">
                    <p translate>Back</p>
                </button>
            </form>
        </mat-card>
    </div>
    <app-footer></app-footer>
</div>