<div class="register-position">
    <div class="register">
        <mat-card class="register-card">
            <mat-card-content>
                <h2 translate>Change password</h2>
                <h3 translate>Enter your new password
                </h3>
            </mat-card-content>
            <form class="register-form" (ngSubmit)="submitForm()">
                <mat-form-field>
                    <mat-label>
                        <span translate>Enter your password</span>
                    </mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" required [formControl]="password1">
                    @if (password1.invalid) {<mat-error>{{getErrorMessagepassword1()}}</mat-error>}
                    @if (password1.valid) { <mat-icon matSuffix>check</mat-icon>}
                    <mat-hint>{{password_incorrect}}</mat-hint>
                    <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon style="color: white;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>
                        <span translate>Enter your password again</span>
                    </mat-label>
                    <input matInput [type]="hide2 ? 'password' : 'text'" [formControl]="password2" required>
                    @if (password2.invalid) {<mat-error>{{getErrorMessagepassword2()}}</mat-error>}
                    @if (password2.valid) { <mat-icon matSuffix>check</mat-icon>}
                    <mat-hint>{{password_incorrect}}</mat-hint>
                    <button mat-icon-button matSuffix type="button" (click)="hide2 = !hide2"
                        [attr.aria-label]="'Hide2 password'" [attr.aria-pressed]="hide2">
                        <mat-icon style="color: white;">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <i translate>Use at least eight characters (case sensitive) with at least one number and one special
                    character. one special character.</i>
                <button class="next-button" mat-fab extended color="primary">
                    <p translate>Save</p>
                </button>
                <button class="next-button" mat-fab extended color="">
                    <p translate>Back</p>
                </button>
            </form>
        </mat-card>
    </div>
    <app-footer></app-footer>
</div>