<div class="login-position">
    <div class="login">
        <mat-card class="login-card">
            <mat-card-header>
                <mat-card-subtitle>
                    <p translate>1. STEP</p>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <h2 translate>Enter your e-mail address to continue</h2>
                <h3 translate>Log in to your account. If you don't have an account yet, you will be asked to create one.
                    create one.
                </h3>
            </mat-card-content>
            <form class="login-form" (ngSubmit)="submitForm()">
                <mat-form-field class="login-full-width">
                    <mat-label>
                        <span translate>Email</span>
                    </mat-label>
                    <input type="email" matInput [formControl]="emailFormControl">
                    @if (emailFormControl.hasError('pattern') && !emailFormControl.hasError('required')) {
                    <mat-error>
                        <span style="color: red;" translate>Please enter a valid email address</span>
                    </mat-error>
                    }
                    @if (emailFormControl.hasError('required')) {
                    <mat-error>
                        <span style="color: red;" translate>Email is</span> <strong translate>required</strong>
                    </mat-error>
                    }
                </mat-form-field>
                <button mat-fab extended color="primary">
                    <p translate>Next</p>
                </button>
            </form>
            <button style="margin-left: 16px;margin-right: 16px;" (click)="goBack()" mat-fab extended color="">
                <p translate>back</p>
            </button>
        </mat-card>
    </div>
    <app-footer></app-footer>
</div>