<div class="footer">
    <div class="footer-logo">
        <a href="#"><img src="/assets/img/logo/logo.png" alt=""></a>
        <span>VideoFlix</span>
    </div>
    <div class="footer-links">
        <button mat-button [matMenuTriggerFor]="menu"><mat-icon>language</mat-icon>{{language_button}}</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="changeLanguage('en')"><span translate>English</span></button>
            <button mat-menu-item (click)="changeLanguage('de')"><span translate>German</span></button>
        </mat-menu>
        <a href="privacy-policy" translate>Datenschutzerklärung</a>
        <a href="imprint" translate>Impressum</a>
    </div>
    <p>© Tony Tech 2023</p>
</div>