<div class="category">
    <div class="category-box">
        <a href="/my" translate>My</a>
    </div>
    <div class="category-box">
        <a href="/movies" translate>Movie</a>
    </div>
    <div class="category-box">
        <a href="/series" translate>Series</a>
    </div>
    <div class="category-box">
        <a href="/nature" translate>Nature</a>
    </div>
    <div class="category-box">
        <a href="/funny" translate>Funny</a>
    </div>
    <div class="category-box">
        <a href="/knowledge" translate>Knowledge</a>
    </div>
</div>