<div class="category">
    <div class="category-box">
        <a href="/my">Meine</a>
    </div>
    <div class="category-box">
        <a href="/movies">Filme</a>
    </div>
    <div class="category-box">
        <a href="/series">Serien</a>
    </div>
    <div class="category-box">
        <a href="/nature">Natur</a>
    </div>
    <div class="category-box">
        <a href="/funny">Lustiges</a>
    </div>
    <div class="category-box">
        <a href="/knowledge">Wissen</a>
    </div>
</div>