<app-header></app-header>
<div class="single-view-img">
    <img src="{{data.big_picture}}" alt="">
    <div class="single-view-content">

        <div class="header-line">
            <h1>{{data.movie_name}}</h1>
            <div class="video-box">
                <video id="video" class="video" controls #videoPlayer>
                    <source src="{{data.video}}" type="video/mp4" />
                    Browser not supported
                </video>
            </div>
        </div>


        <div class="small-info">
            <mat-chip>
                {{data.age_rating}}
            </mat-chip>
            <p>{{date}}</p>
            <p>&middot;</p>
            <p>{{data.video_length}}</p>
            <p>&middot;</p>
            <p><i>{{data.genre}}</i></p>
        </div>
        <div class="button">
            <button mat-fab extended color="accent" (click)="toggleVideo()">
                <mat-icon>play_circle</mat-icon>
                Abspielen

            </button>
            <button mat-fab matTooltip="Primary" color="primary" aria-label="Example fab with a heart icon">
                <mat-icon>add</mat-icon>
            </button>
            <button class="info-button" mat-fab matTooltip="Accent" color="accent"
                aria-label="Example fab with a heart icon" (click)="openDialogDescription()">
                <mat-icon>info</mat-icon>
            </button>
        </div>
        <span>{{data.description_short}}</span>


    </div>
</div>
<div class="category-background">
    <app-new-movies></app-new-movies>
</div>

<app-footer></app-footer>