<app-header></app-header>
<div class="single-view-img">
    <img src="{{data.big_picture}}" alt="">
    <div class="single-view-content">

        <div class="header-line">
            <h1>{{data.movie_name}}</h1>

            <div class="video-box">

                <video class="video dn" #media id="video" preload="auto" controls (canplay)="onCanPlay($event)">
                    <source src="{{video_url}}" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="small-info">
            <mat-chip>
                {{data.age_rating}}
            </mat-chip>
            <p>{{date}}</p>
            <p>&middot;</p>
            <p>{{data.video_length}}</p>
            <p>&middot;</p>
            <p><i>{{data.genre}}</i></p>
        </div>
        <div class="button">
            <button mat-fab extended color="accent" (click)="toggleVideo()">
                <mat-icon>play_circle</mat-icon>
                Abspielen

            </button>
            <button (click)="setWatchlist()" mat-fab matTooltip="Primary" color="primary"
                aria-label="Example fab with a heart icon">
                <mat-icon *ngIf="!wachtlist">add</mat-icon>
                <mat-icon *ngIf="wachtlist">close</mat-icon>
            </button>
            <button class="info-button" mat-fab matTooltip="Accent" color="accent"
                aria-label="Example fab with a heart icon" (click)="openDialogDescription()">
                <mat-icon>info</mat-icon>
            </button>
        </div>
        <span>{{data.description_short}}</span>


    </div>
</div>
<div class="category-background">
    <app-category-new-movies></app-category-new-movies>
</div>

<app-footer></app-footer>