/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
:root {
  --min-font-size: 16px; // Mindest-Schriftgröße
  --max-font-size: 24px; // Maximale Schriftgröße
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;

  max-width: 100%;
  background-color: rgba($color: #000000, $alpha: 0.8) !important;

  p {
    margin: 0;
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #333333;
}

body::-webkit-scrollbar-thumb {
  background-color: #c2185b;
  border-radius: 10px;
  border: 3px solid transparent;
}
h1,
h2,
h3 {
  color: white;
  transition: all 0.2s ease;
}

h1 {
  font-size: calc(32px + 2vw) !important;
}
h2 {
  font-size: calc(18px + 1.75vw) !important;
  line-height: 120% !important;
}
h3 {
  font-size: calc(12px + 0.5vw) !important;
  line-height: 120% !important;
}

span {
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
}

p {
  color: white;
}

.carousel-indicators {
  margin-bottom: 2rem;
  display: flex;
  justify-content: end;
  button {
    margin-left: 10px;
    margin-right: 10px;
    height: 10px !important;
    width: 10px !important;
    border: 0;
    border-radius: 100%;
    background-color: #333333;
  }
  button.active {
    background-color: #e4e4e4;
  }
}
