.new-movies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  max-width: 100%;
  img {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
  }
  h1,
  h2 {
    margin: 30px;
    text-align: center;
  }
  h1 {
    font-size: 38px;
  }
}
