<div class="header">
    <div>
        <a href="home" class="logo"><img src="/assets/img/logo/logo.png" alt=""></a>
    </div>
    <div class="menu">
        <a mat-button href="home">
            <mat-icon>home</mat-icon>
            <p translate>HOME</p>
        </a>
        <a mat-button href="serch">
            <mat-icon>search</mat-icon>
            <p translate>SEARCH</p>
        </a>
        <a mat-button href="watchlist">
            <mat-icon>add</mat-icon>
            <p translate>MY WATCHLIST</p>
        </a>
        <a mat-button href="movies">
            <mat-icon>movie</mat-icon>
            <p translate>MOVIES</p>
        </a>
        <a mat-button href="series">
            <mat-icon>smart_display</mat-icon>
            <p translate>SERIES</p>
        </a>
    </div>
    <div class="menu-small">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button (click)="btnUpload('home')" mat-menu-item>
                <mat-icon>home</mat-icon>
                <span translate>HOME</span>
            </button>
            <button (click)="btnUpload('serch')" mat-menu-item>
                <mat-icon>search</mat-icon>
                <span translate>SEARCH</span>
            </button>
            <button (click)="btnUpload('watchlist')" mat-menu-item>
                <mat-icon>add</mat-icon>
                <span translate>MY WATCHLIST</span>
            </button>
            <button (click)="btnUpload('movies')" mat-menu-item>
                <mat-icon>movie</mat-icon>
                <span translate>MOVIES</span>
            </button>
            <button (click)="btnUpload('series')" mat-menu-item>
                <mat-icon>smart_display</mat-icon>
                <span translate>SERIES</span>
            </button>
        </mat-menu>
    </div>
    <div class="profil">
        <button (click)="btnUpload('upload')" mat-stroked-button>Upload</button>
        <span>{{name}}</span>
        <img src="{{avatar_path}}" alt="profil" [matMenuTriggerFor]="menu_profile">
        <mat-menu #menu_profile="matMenu">
            <div class="profil-name">
                <p><b>{{name}}</b></p>
            </div>
            <button mat-menu-item (click)="openMyUploads()">
                <span translate>My uploads</span>
            </button>
            <button mat-menu-item (click)="openDialogProfil('0ms', '0ms')"> <span translate>Edit profile</span>
            </button>
            <button mat-menu-item (click)="openDialogKonto('0ms', '0ms')"><span translate>Account</span></button>
            <button mat-menu-item (click)="menuLogout()"><span translate>Logout</span></button>
            <button mat-menu-item (click)="openDialogDelete('0ms', '0ms')"><span translate>Deleting Account
                </span></button>
        </mat-menu>
    </div>
</div>