<div class="header">
    <div>
        <a href="home" class="logo"><img src="/assets/img/logo/logo.png" alt=""></a>
    </div>
    <div class="menu">
        <a mat-button href="home">
            <mat-icon>home</mat-icon>
            STARTSEITE
        </a>
        <a mat-button href="home">
            <mat-icon>search</mat-icon>
            SUCHEN
        </a>
        <a mat-button href="home">
            <mat-icon>add</mat-icon>
            MEINE LISTE
        </a>
        <a mat-button href="home">
            <mat-icon>movie</mat-icon>
            FILME
        </a>
        <a mat-button href="home">
            <mat-icon>smart_display</mat-icon>
            SERIEN
        </a>
    </div>
    <div class="menu-small">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <mat-icon>home</mat-icon>
                <span>STARTSEITE</span>
            </button>
            <button mat-menu-item>
                <mat-icon>search</mat-icon>
                <span>SUCHEN</span>
            </button>
            <button mat-menu-item>
                <mat-icon>add</mat-icon>
                <span>MEINE LISTE</span>
            </button>
            <button mat-menu-item>
                <mat-icon>movie</mat-icon>
                <span>FILME</span>
            </button>
            <button mat-menu-item>
                <mat-icon>smart_display</mat-icon>
                <span>SERIEN</span>
            </button>
        </mat-menu>
    </div>
    <div class="profil">
        <span>ttech</span>
        <img src="/assets/img/woman-995164_640.png" alt="" [matMenuTriggerFor]="menu_profile">
        <mat-menu #menu_profile="matMenu">
            <button mat-menu-item>Profil bearbeiten</button>
            <button mat-menu-item>Konto</button>
            <button mat-menu-item>Hilfe-Center</button>
            <button mat-menu-item>Logout</button>
        </mat-menu>
    </div>

</div>